.countri-item {
  position: relative;
  // max-width: 380px;
  padding: 10px 10px 10px 10px;
}

.capital_content-block {
  padding: 8px 8px 8px 8px;
  position: absolute;
  bottom: 30px;
  left: 23px;
  background-color: rgba(33, 34, 32, 0.8);
  border-radius: 20px;
}
.countri-item_title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  @include font-settings(1.3rem, 1.2, 800, $text-color-item-titile);
}

.countri-info {
  margin-bottom: 5px;
  @include font-settings(1rem, 1.2, 700, $countri-info-color);
}

.lenguages-item {
  @include font-settings(0.8rem, 1.2, 700, $fourth-font-color);

  padding-left: 20px;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
