.page-footer {
  padding-top: 200px;
  padding-bottom: 300px;
  background-image: url(../images/footer_bg.jpg);
  filter: grayscale(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}
